form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  body{
      background-color: #00386b;
  }
  label{
      color: gold;
      font-size: medium;
      font-weight: bolder;
  }
  button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 70%;
      opacity: 0.9;
    }
    button:hover {
      opacity: 1;
    }
    h1{
      color: gold;
    }
    p{
        width: 100%;
    }
    table{
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      border: "1px solid black";
      border-collapse: collapse;
      width: 100%;
      height: auto;
      position: relative;
    }
    td{
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;
      border: 1px solid black;
      background-color: navy;
    
    }
   